{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>

<div class="form-group">
    {{ form_label(form.cpf) }}
    {{ form_widget(form.cpf) }}
    {{ form_errors(form.cpf) }}
</div>

<div class="form-group">
    {{ form_label(form.addressOne) }}
    {{ form_widget(form.addressOne) }}
    {{ form_errors(form.addressOne) }}
</div>

</br>
<div class="form-group">
    {{ form_label(form.submit) }}
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}