{% extends "base.html.twig" %}

{% block title %}
    Pessoas - 
{% endblock %}


{% block body %}

    <script type="text/javascript">
        $(document).ready(function(){
            $(".bt_delete_person").click(function(ev) {
                ev.preventDefault();

                var url = $(this).prop("href");

                if (confirm("Deseja excluir essa pessoa?")) {
                    window.location = url;
                }

            });
        })
	</script>

    <h1>Lista de pessoas</h1>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>

        {% for persona in persons %}
            <tr>
                <td>{{ persona.name }}</td>
                <td>{{ persona.cpf }}</td>
                <td>{{ persona.addressOne }} </td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('update_person', {"person_id": persona.id}) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-sm btn-danger bt_delete_person" href="{{ path('delete_person', {"person_id": persona.id}) }}">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="row">
		<div class="col-md-12">
			<a href="{{ path('person_registration') }}" class="btn btn-primary btn-lg pull-right">Cadastrar Pessoa</a>
		</div>
	</div>

{% endblock %}
