<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script>
		$(document).ready(function(){
			$('.cpf').mask('000.000.000-00', {reverse: true});
		})
		</script>

		<title>
			{% block title %}{% endblock %}
			&nbsp-&nbspSymfonyBank
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12">

					<div class="row">
						<div class="col-md-12">
							<a href="{{ path('people') }}" class="btn btn-secondary btn-lg pull-right">
								{% trans from 'base' %}
								base.header.people
								{% endtrans %}
							</a>
							<a href="{{ path('account') }}" class="btn btn-secondary btn-lg pull-right">
								{% trans from 'base' %}
								base.header.accounts
								{% endtrans %}
							</a>
							<a href="{{ path('create_transaction') }}" class="btn btn-secondary btn-lg pull-right">
								{% trans from 'base' %}
								base.header.banking_movement
								{% endtrans %}
							</a>
						</div>
					</div>
					<br><br>

					{% for flashMessage in app.session.flashbag.get('success') %}
						<div class="alert alert-success">
							{{ flashMessage }}
						</div>
					{% endfor %}

					{% for flashMessage in app.session.flashbag.get('warning') %}
						<div class="alert alert-warning">
							{{ flashMessage }}
						</div>
					{% endfor %}

					{% block body %}{% endblock %}
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://kit.fontawesome.com/332c7fbc45.js"></script>

		{% block javascripts %}{% endblock %}
	</body>
</html>
